<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login">
      <div> <a href="/createAccount"> create account </a> </div>
      <div> <a href="/logIn"> log in </div>
    </div>
  </body>
</html>