<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src = 'https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=drawing&sensor=true'></script>
    <script src = 'javascripts/lib/jquery.js'></script>
    <script src = 'javascripts/lib/underscore.js'></script>
    <script src = 'javascripts/lib/backbone.js'></script>
    <script src = 'javascripts/app/bbLogin.js'></script>
    <script type="text/javascript" src = 'javascripts/getLocation.js'></script>
    <script src = 'javascripts/app/models/messageModel.js'></script>
    <script src = 'javascripts/app/collections/messageCollection.js'></script>
    <script src = 'javascripts/app/views/messagesView.js'></script>
    <script type="text/javascript">
      $(function () {

        bb.init();
      });
    </script>
  </head>
  <body>
    <div id = 'map-canvas'></div>
    <div class="login">
      <div> <a href="/createAccount"> create account </a> </div>
      <div> <a href="/logIn"> log in </a> </div>
    </div>
  </body>
</html>