html{
  height: 100%;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#dialogue {
  height: 200px;
  width: 334px;
  background-color: whitesmoke;
  top:20%;
  left: 20%;
  position: absolute;
}

a {
  color: #00B7FF;
}

.login{
  top: 0px;
  left: 0px;
  background: rgb( 255, 255, 255);
  height: 40px;
  width: 100%;
  border-bottom: 1px solid black;
}

.login > div{
  display: inline-block;
}

#map-canvas{
  height: 100%;
  width: 100%;
}