html{
  height: 100%;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  height: 90%;
  padding: 0px;
  margin: 0px;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9000;
  padding: 0px;
  margin: 0px;
  background: transparent url(http://i.imgur.com/0KbiL.png);
  position: fixed;
  top: 0px;
  overflow: hidden;
}

.loginForm {
  display: none;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  background-color: rgba(255,255,255, 1);
  z-index: 9001;
  position: fixed;
}

#dialogue {
  height: 20%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  position: relative;
}

a {
  color: #00B7FF;
}

#topbar{
  top: 0px;
  left: 0px;
  background-color: white;
  height: 35px;
  width: 100%;
  border-bottom: 1px solid black;
}

#topbar > .option{
  display: inline-block;
}

#map-canvas{
  height: 70%;
  width: 100%;
}